.container {
  position: relative;
  background-color: #313a48;
  border-radius: 1.5rem;
  width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8rem 4.8rem 7.2rem 4.8rem;
}

.advice {
  text-align: center;
}

.advice p {
  color: #53ffaa;
  font-size: 1.1rem;
  line-height: 15.03px;
  letter-spacing: 3.46px;
  margin-bottom: 2.4rem;
}

.advice h1 {
  font-size: 2.8rem;
  line-height: 38.25px;
  letter-spacing: -0.3px;
  color: #cee3e9;
  margin-bottom: 4rem;
}

button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3.2rem;
  border: none;
  outline: none;
  padding: 2rem;
  border-radius: 50%;
  background-color: #53ffaa;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

button:hover {
  box-shadow: 0px 0px 40px #53ffaa;
}

button img {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 4rem 2.4rem 6.4rem 2.4rem;
  }
  .advice h1 {
    font-size: 2.4rem;
    line-height: 32.78px;
    letter-spacing: -0.26px;
  }
}
